/***** General Styles *****/
body {background-color: #C6DABD;} 
/***** Header Styles *****/
header {font-size: 150%; padding: 10px 10px 10px 155px; 
    margin-top: 40px;}
/***** Navigation Styles *****/
nav { position: fixed; top: 0; left: 0; 
    height: 40px; width: 100%; min-width: 40em; z-index: 9999;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold; background-color: #FAF9F6;}
nav ul { list-style-type: none; text-align: right; 
    font-size: 1.5em; margin: 5px; padding-right: 10%;}
/***** Footer Styles *****/